<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TowTrackWhiz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TowTrackWhiz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	 <!-- ✅ All Type of HTTP Request allowed in web view -->
      <key>NSAppTransportSecurity</key>
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>

	<!-- Camera -->
	<key>NSCameraUsageDescription</key>
	<string>This app requires camera access to take photos.</string>

	<!-- Photos -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires photo library access to select or upload images.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app needs photo library access to save images.</string>


	<!-- Location -->
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires location access at all times to track your trips in the background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires background location access to track your location even when the app is closed.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access to provide location-based services.</string>

	<key>GIDClientID</key>
    <!-- TODO Replace this value: -->
    <!-- Copied from GoogleService-Info.plist key CLIENT_ID -->
    <string>421783246913-73a3abh2feju20l0bdf64kkoa2ucs0bk.apps.googleusercontent.com</string>

    <!-- Google Sign-in Section -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <!-- TODO Replace this value: -->
                <!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
                <string>com.googleusercontent.apps.421783246913-73a3abh2feju20l0bdf64kkoa2ucs0bk</string>
            </array>
        </dict>
    </array>
    <!-- End of the Google Sign-in Section -->

	<!-- Add Google Maps API Key -->
    <key>GMSServicesAPIKey</key>
    <string>AIzaSyACK8pAU_lTs9qnMVD7UgH2xVNeS7A2AZs</string>

	<!-- Notifications -->
	<key>NSUserTrackingUsageDescription</key>
	<string>This app uses tracking permission to deliver personalized notifications.</string>
	<key>UNUserNotificationCenter</key>
	<string>This app needs notifications permission to alert you of important updates.</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Background modes -->
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
